## {APP} Application

This is a sample of a very basic application generated using declarative vert.x code generator tool.

It implements all the needed operations in order to handle various resource-specific operations and verify the integrity of the server response.
 
## Requirements

Java 17 or higher and Maven 3.x are required.

## Table of contents

* [Getting started](#getting-started)
* [Review Swagger Doc](#review-swagger-doc)
* [Test the service](#test-the-service)
* [What's included](#whats-included)
* [Security concerns](#security-concerns)
* [Configuration](#configuration)

## Getting started 

This sample application provides a REST API using [Declarative Vert](https://github.com/sudiptasish/declarative-vertx), so it is very easy to make it work as standalone server.  

### Local deployment 

* Run `mvn clean install`, to build the executable jar
* Run `java -jar target/{LOWER{APP}}-0.0.1-SNAPSHOT.jar`

The application should start and have an output similar to this: 

```
    [...]
    [vert.x-eventloop-thread-1] INFO org.javalabs.decl.vertx.container.VertxHttpServer - Started Http Server. Listening to port: 8080
    [main] INFO org.javalabs.decl.vertx.container.VertxContainer - Deployment of verticle app.http.server is successful. Deployment Id: 3abd2b35-4cf7-426f-83a9-7b394710df08
    [vert.x-worker-thread-0] INFO io.opns.app.core.AppProcessor - Scheduled default timer. Initial Delay: 0. Pause Time (ms): 1800000
    [vert.x-worker-thread-0] INFO io.opns.app.core.AppProcessor - Started Verticle: AppProcessor
    [main] INFO org.javalabs.decl.vertx.container.VertxContainer - Deployment of verticle app.processor is successful. Deployment Id: 04595511-d20a-43e2-abda-52c931c2d531

```

By default the application run on 8080 port. You can change the port by passing the system property `-Dport=8082`.

If the project is created using **advanced option**, then you can modify the `port` in the generated `server.xml` file.

## Review swagger doc

The openapi.yaml file will be generated in

```
docs/openapi.yaml
```

To view the swagger doc, navigate to `/docs` directory and run the below command to start a simple http server
```
python3 -m http.server -b 127.0.0.1
```

The server will be started, and you will see the below log:
```
Serving HTTP on 127.0.0.1 port 8000 (http://127.0.0.1:8000/) ...
```

Open the url `http://127.0.0.1:8000/` in your favourite browser and you will see the api documentation.

## Test the service

The service is just a simple REST service. It uses an in-memory map to store the data.
You can also do with a relational database like MySQL or PostgreSQL.

#### Create an element

```
curl -X POST\
     -d '<payload>'\
     -H "Content-Type:application/json"\
     http://localhost:8080{URI}s
```


#### Update an element

```
curl -X PUT\
     -d '<payload>'\
     -H "Content-Type:application/json"\
     http://localhost:8080{URI}/{id}
```

#### View all elements

```
curl -X GET\
     -H "Content-Type:application/json"\
     http://localhost:8080{URI}
```

#### View specific element

```
curl -X GET\
     -H "Content-Type:application/json"\
     http://localhost:8080{URI}/{id}
```

#### Delete specific element

```
curl -X DELETE\
     -H "Content-Type:application/json"\
     http://localhost:8080{URI}/{id}
```

## What's included

1. Handler class
2. Model class
3. Configuration file
4. Swagger doc

## Security concerns

The project includes a keystore called `server.pkcs` that has the private and public key (self-signed certificate). You can replace it with any 3rd party signed certificate in future.
All the APIs are protected. Therefore you must obtain a jwt token before calling any of the end points. The token has a validity of 5 hours. The token will be signed using the private key 
present in the key store and will be verified during every call.

```
curl -X POST --insecure -u 'test:p@$$word' -H "Content-Type:application/json" http://localhost:8080/api/v1/mgmt/login
```

This will return a `jwt` token. Use this as a `Bearer` token in subsequent invocation os APIs.
E.g., 

```
curl -X POST\
     -d '<payload>'\
     -H "Content-Type: application/json"\
     -H "Authorization: Bearer {jwt}"\
     http://localhost:8080{URI}s
```

### ORM File

The `persistence.xml` file present under `src/main/resources` directory contains the entity definition and connection string and other credentials for an in-memory `H2` database.
For a production deployment, the url, user and password should be overriden by that mentioned in `app.json` file. See the Configuration section below.

## Configuration

### Platform Configuration Files

There are 3 configuration files used by this service. These files are generated under `src/main/resources` directory.
 
<ul>
<li><b>vertx-web.xml</b> - This file is the core configuration file that provides configuration and deployment information for Vert.x. It's the standard name used by decl-vertx-container module as a deployment descriptor in Vert.x applications. Apart from standard vert.x configuration, this file also defines the Verticles that will be deployed.</li>
<li><b>server.xml</b> - If any of your verticles is starting an http server, then you need to create the second file server.xml, which is a configuration file for the embedded http server. It dictates how the server behaves during startup and operation. It also defines various elements like the server, services, connectors, and containers, which handle requests and manage web applications.</li>
<li><b>routing-config.xml</b> - This file defines how HTTP requests are handled based on their paths and methods. Configuration typically involves setting up routes with corresponding handlers, potentially including path parameters and request body processing</li>
</ul>

### Application Configuration File

The application configuration file `app.json` is generated and places inside `src/main/resources` directory. It has the test user and database credentials.

### Adding Custom Connection Pool

By default the application uses the JPA-LiTE's proprietary connection pool. However, if you would like to use `Hikari`, modify the `pom.xml` to add the below dependency.

```
<dependency>
    <groupId>com.zaxxer</groupId>
    <artifactId>HikariCP</artifactId>
    <version>7.0.2</version>
    <scope>runtime</scope>
</dependency>
```
